@import '../colors';

.pay-delivery {
    display: flex;
    justify-content: center;
    background: $mainBgColor;

    &__wrap {
        width: 1240px;
        padding-top: 56px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    &__for-text {
        width: 814px;
        align-self: center;
    }
    &__title {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;        
        color: $colorDark;
        margin-top: 12px;
    }
    &__descriptions {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;        
        color: $color2;
        margin-top: 8px;
    }
    &__text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;        
        color: $colorDark;
        margin-top: 64px;
    }
    &__accordion {
        margin-top: 32px;
    }
}