@import '../colors';

.page-find {
    padding-bottom: 112px;

    .sidebar__filter {
        margin-top: 0;
    }
    .main-container {

        &__top {
            &-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &-description {
                font-family: Gilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;        
                color: $color2;
                margin-top: 6px;
            }
        }
        &__items {
            margin-top: 32px;
        }
    }
}

@media (max-width: 1200px) {

    .page-find {
        // padding-bottom: 112px;
    
        .sidebar__filter {
            // margin-top: 0;
        }
        .main-container {

            &__top {
                margin-top: 40px;
                &-left {
                    // display: flex;
                    // flex-direction: column;
                    // align-items: flex-start;
                    margin-left: 15px;
                }
    
                &-description {
                    // font-family: Gilroy;
                    // font-style: normal;
                    // font-weight: 600;
                    // font-size: 16px;
                    // line-height: 19px;        
                    // color: $color2;
                    // margin-top: 6px;
                }
            }
            &__items {
                // margin-top: 32px;
            }
        }
    }

}