@import '../colors';

.accordion-info {
	display: flex;
	justify-content: center;
	// padding-top: 112px;
	background: $mainBgColor;

	&__wrap {
		width: 885px;
		display: flex;
        flex-direction: column;
	}
	&__title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: $colorDark;
        margin-bottom: 32px;
    }
    &__list {
        padding: 0 69px 0 16px;
    }
    &__item {
        position: relative;
        padding: 20px 0 6px 0;

        &::after {
            content: '';
            background: $color4;
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            top: 100%;
        }
        &-checkbox {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;

            &:checked ~ .accordion-info__item-title {
                color: $color3;
            }
            &:checked ~ .accordion-info__item-title::after {
                content: '-';
            }

            &:checked ~ .accordion-info__item-list {
                margin-top: 16px;
            }

            &:checked ~ .accordion-info__item-list,
            &:checked ~ .accordion-info__item-text {
                opacity: 1;
                max-height: fit-content;
                transform: translate(0, 0);
            }
            
            &:hover ~ .accordion-info__item-title,
            &:hover ~ .accordion-info__item-title::after {
                color: $color3;
            }
        }
        &-title {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: $colorDark;
            position: relative;
            
            &::after {
                width: 10px;
                height: 20px;
                content: '+';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                color: $color2;
            }
        }
        &-list {
            opacity: 0;
            max-height: 0;
            margin-top: 0px;
            transition: all 0.25s ease-in-out;
            transform: translate(0, 50%);
            overflow: hidden;

            &-item {
                font-family: Gilroy;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: $colorDark;
                padding-left: 12px;
                margin-bottom: 16px;
                position: relative;


                &::before {
                    width: 4px;
                    height: 4px;
                    background: $color3;
                    border-radius: 50%;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 8px;
                }
            }
        }
        &-text {
            font-family: Gilroy;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            color: $colorDark;
            opacity: 0;
            max-height: 0;
            transition: all 0.25s ease-in-out;
            transform: translate(0, 50%);
            overflow: hidden;
        }
    }
}

@media (max-width: 1200px) {

    .accordion-info {
    //     display: flex;
    //     justify-content: center;
    //     padding-top: 112px;
    //     background: $mainBgColor;
    
        &__wrap {
            width: 810px;
    //         display: flex;
    //         flex-direction: column;
        }
        &__title {
    //         font-family: Gilroy;
    //         font-style: normal;
    //         font-weight: 600;
    //         font-size: 24px;
    //         line-height: 29px;
    //         color: $colorDark;
    //         margin-bottom: 32px;
        }
        &__list {
    //         padding: 0 69px 0 16px;
        }
        &__item {
    //         position: relative;
    //         padding: 20px 0 6px 0;
    
            &::after {
    //             content: '';
    //             background: $color4;
    //             position: absolute;
    //             width: 100%;
    //             height: 1px;
    //             left: 0;
    //             top: 100%;
            }
            &-checkbox {
    //             position: absolute;
    //             cursor: pointer;
    //             width: 100%;
    //             height: 100%;
    //             z-index: 1;
    //             opacity: 0;
    
                &:checked ~ .accordion-info__item-title {
    //                 color: $color3;
                }
                &:checked ~ .accordion-info__item-title::after {
    //                 content: '-';
                }
    
                &:checked ~ .accordion-info__item-list {
    //                 margin-top: 16px;
                }
    
                &:checked ~ .accordion-info__item-list,
                &:checked ~ .accordion-info__item-text {
    //                 opacity: 1;
    //                 max-height: fit-content;
    //                 transform: translate(0, 0);
                }
                
                &:hover ~ .accordion-info__item-title,
                &:hover ~ .accordion-info__item-title::after {
    //                 color: $color3;
                }
            }
            &-title {
    //             font-family: Gilroy;
    //             font-style: normal;
    //             font-weight: 500;
    //             font-size: 13px;
    //             line-height: 20px;
    //             color: $colorDark;
    //             position: relative;
                
                &::after {
    //                 width: 10px;
    //                 height: 20px;
    //                 content: '+';
    //                 position: absolute;
    //                 top: 50%;
    //                 transform: translateY(-50%);
    //                 right: 0;
    //                 color: $color2;
                }
            }
            &-list {
    //             opacity: 0;
    //             max-height: 0;
    //             margin-top: 0px;
    //             transition: all 0.25s ease-in-out;
    //             transform: translate(0, 50%);
    //             overflow: hidden;
    
                &-item {
    //                 font-family: Gilroy;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 13px;
    //                 line-height: 20px;
    //                 color: $colorDark;
    //                 padding-left: 12px;
    //                 margin-bottom: 16px;
    //                 position: relative;
    
    
                    &::before {
    //                     width: 4px;
    //                     height: 4px;
    //                     background: $color3;
    //                     border-radius: 50%;
    //                     content: '';
    //                     position: absolute;
    //                     left: 0;
    //                     top: 8px;
                    }
                }
            }
            &-text {
    //             font-family: Gilroy;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-size: 13px;
    //             line-height: 20px;
    //             color: $colorDark;
    //             opacity: 0;
    //             max-height: 0;
    //             transition: all 0.25s ease-in-out;
    //             transform: translate(0, 50%);
    //             overflow: hidden;
            }
        }
    }

}

@media (max-width: 900px) {

    .accordion-info {
    //     display: flex;
    //     justify-content: center;
    //     padding-top: 112px;
    //     background: $mainBgColor;
    
        &__wrap {
            width: 570px;
    //         display: flex;
    //         flex-direction: column;
        }
        &__title {
    //         font-family: Gilroy;
    //         font-style: normal;
    //         font-weight: 600;
    //         font-size: 24px;
    //         line-height: 29px;
    //         color: $colorDark;
    //         margin-bottom: 32px;
        }
        &__list {
    //         padding: 0 69px 0 16px;
        }
        &__item {
    //         position: relative;
    //         padding: 20px 0 6px 0;
    
            &::after {
    //             content: '';
    //             background: $color4;
    //             position: absolute;
    //             width: 100%;
    //             height: 1px;
    //             left: 0;
    //             top: 100%;
            }
            &-checkbox {
    //             position: absolute;
    //             cursor: pointer;
    //             width: 100%;
    //             height: 100%;
    //             z-index: 1;
    //             opacity: 0;
    
                &:checked ~ .accordion-info__item-title {
    //                 color: $color3;
                }
                &:checked ~ .accordion-info__item-title::after {
    //                 content: '-';
                }
    
                &:checked ~ .accordion-info__item-list {
    //                 margin-top: 16px;
                }
    
                &:checked ~ .accordion-info__item-list,
                &:checked ~ .accordion-info__item-text {
    //                 opacity: 1;
    //                 max-height: fit-content;
    //                 transform: translate(0, 0);
                }
                
                &:hover ~ .accordion-info__item-title,
                &:hover ~ .accordion-info__item-title::after {
    //                 color: $color3;
                }
            }
            &-title {
    //             font-family: Gilroy;
    //             font-style: normal;
    //             font-weight: 500;
    //             font-size: 13px;
    //             line-height: 20px;
    //             color: $colorDark;
    //             position: relative;
                
                &::after {
    //                 width: 10px;
    //                 height: 20px;
    //                 content: '+';
    //                 position: absolute;
    //                 top: 50%;
    //                 transform: translateY(-50%);
    //                 right: 0;
    //                 color: $color2;
                }
            }
            &-list {
    //             opacity: 0;
    //             max-height: 0;
    //             margin-top: 0px;
    //             transition: all 0.25s ease-in-out;
    //             transform: translate(0, 50%);
    //             overflow: hidden;
    
                &-item {
    //                 font-family: Gilroy;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 13px;
    //                 line-height: 20px;
    //                 color: $colorDark;
    //                 padding-left: 12px;
    //                 margin-bottom: 16px;
    //                 position: relative;
    
    
                    &::before {
    //                     width: 4px;
    //                     height: 4px;
    //                     background: $color3;
    //                     border-radius: 50%;
    //                     content: '';
    //                     position: absolute;
    //                     left: 0;
    //                     top: 8px;
                    }
                }
            }
            &-text {
    //             font-family: Gilroy;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-size: 13px;
    //             line-height: 20px;
    //             color: $colorDark;
    //             opacity: 0;
    //             max-height: 0;
    //             transition: all 0.25s ease-in-out;
    //             transform: translate(0, 50%);
    //             overflow: hidden;
            }
        }
    }

}

@media (max-width: 600px) {

    .accordion-info {
    //     display: flex;
    //     justify-content: center;
        padding: 100px 15px 0 15px;
    //     background: $mainBgColor;
    
        &__wrap {
            width: 100%;
    //         display: flex;
    //         flex-direction: column;
        }
        &__title {
    //         font-family: Gilroy;
    //         font-style: normal;
    //         font-weight: 600;
    //         font-size: 24px;
    //         line-height: 29px;
    //         color: $colorDark;
    //         margin-bottom: 32px;
        }
        &__list {
            padding: 0;
        }
        &__item {
    //         position: relative;
    //         padding: 20px 0 6px 0;
    
            &::after {
    //             content: '';
    //             background: $color4;
    //             position: absolute;
    //             width: 100%;
    //             height: 1px;
    //             left: 0;
    //             top: 100%;
            }
            &-checkbox {
    //             position: absolute;
    //             cursor: pointer;
    //             width: 100%;
    //             height: 100%;
    //             z-index: 1;
    //             opacity: 0;
    
                &:checked ~ .accordion-info__item-title {
    //                 color: $color3;
                }
                &:checked ~ .accordion-info__item-title::after {
    //                 content: '-';
                }
    
                &:checked ~ .accordion-info__item-list {
    //                 margin-top: 16px;
                }
    
                &:checked ~ .accordion-info__item-list,
                &:checked ~ .accordion-info__item-text {
    //                 opacity: 1;
    //                 max-height: fit-content;
    //                 transform: translate(0, 0);
                }
                
                &:hover ~ .accordion-info__item-title,
                &:hover ~ .accordion-info__item-title::after {
    //                 color: $color3;
                }
            }
            &-title {
    //             font-family: Gilroy;
    //             font-style: normal;
    //             font-weight: 500;
    //             font-size: 13px;
    //             line-height: 20px;
    //             color: $colorDark;
    //             position: relative;
                
                &::after {
    //                 width: 10px;
    //                 height: 20px;
    //                 content: '+';
    //                 position: absolute;
    //                 top: 50%;
    //                 transform: translateY(-50%);
    //                 right: 0;
    //                 color: $color2;
                }
            }
            &-list {
    //             opacity: 0;
    //             max-height: 0;
    //             margin-top: 0px;
    //             transition: all 0.25s ease-in-out;
    //             transform: translate(0, 50%);
    //             overflow: hidden;
    
                &-item {
    //                 font-family: Gilroy;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 13px;
    //                 line-height: 20px;
    //                 color: $colorDark;
    //                 padding-left: 12px;
    //                 margin-bottom: 16px;
    //                 position: relative;
    
    
                    &::before {
    //                     width: 4px;
    //                     height: 4px;
    //                     background: $color3;
    //                     border-radius: 50%;
    //                     content: '';
    //                     position: absolute;
    //                     left: 0;
    //                     top: 8px;
                    }
                }
            }
            &-text {
    //             font-family: Gilroy;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-size: 13px;
    //             line-height: 20px;
    //             color: $colorDark;
    //             opacity: 0;
    //             max-height: 0;
    //             transition: all 0.25s ease-in-out;
    //             transform: translate(0, 50%);
    //             overflow: hidden;
            }
        }
    }

}