@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background: $mainBgColor;
}
.mobile-darkness {
	position: fixed;
	width: 100%;
	right: -100%;
	background: $colorDark;
	z-index: 99;
	top: 0;
	transition: right .7s;
	height: 100%;
    opacity: .2;
    &.active {
        right: 0;
    }
}
.hide {
	display: none !important;
}
.show {
    opacity: 1 !important;
}
.help {
	position: relative;
}

.help:hover .help-text{
    display:block;
    transform-origin: 100% 0%;
 
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
 
}
 
.help .help-text{
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 10px;
    width: 150px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: 0px;
    top: -300%;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    margin-top: 5px;
    text-decoration: none;
}
 
.help .help-text:before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #1e2021;
    right: 58px;
    top: 38px;
}
 
.help .help-text:after{
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

.for-slider-item {

}
.slider-item {
    margin: 0 !important;
}
@media (max-width: 1170px) {
    .for-slider-item {
        margin-bottom: 24px !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .slider-item {
        width: 100% !important;
    }
}

@keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/* пагинация на сайте */
.s-paging-wrapper {
    display: flex;
    justify-content: center;
}
.s-paging-wrapper .s-paging-list {
    display: flex;
}
.s-paging-wrapper .s-paging-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 17px rgba(0,0,0,.06);
    border-radius: 4px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #929299;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 12px 0 0;
    border: 1px solid transparent;
}
.s-paging-wrapper .s-paging-list li span {
    font-size: 24px;
    line-height: 28px;
    align-self: flex-end;
}
.s-paging-wrapper .s-paging-list li a {
    border: none;
    color: inherit;
}
.s-paging-wrapper .s-paging-list li:hover {
    box-shadow: 0 4px 17px rgba(157,83,28,.13);
    border: 1px solid #f37a22;
}
.s-paging-wrapper .s-paging-list li.selected {
    box-shadow: 0 4px 17px rgba(0,0,0,.06);
    border: 1px solid #f37a22;
    color: #202026;
    pointer-events: none;
}
.s-paging-wrapper .s-paging-list li.selected a {
    pointer-events: none;
}
@media (max-width: 630px) {
    .s-paging-wrapper {
        display: none;
    }
}

.sort-asc {
    display: inline-block;
    border: 4px solid transparent;
    border-bottom: 4px solid black;
    margin-left: 4px;
    margin-top: 1px;
    position: absolute;
}
.sort-desc {
    display: inline-block;
    border: 4px solid transparent;
    border-top: 4px solid black;
    margin-left: 4px;
    margin-top: 6px;
    position: absolute;
}

.disabled-link {
    pointer-events: none !important;
}

@media (max-width: 840px) {
    .hideCardTabsItem {
        opacity: 0;
        z-index: -1;
        position: absolute;
        left: -99999px;
    }
}

.mega-extra-paging {
    padding-bottom: 112px;
}

@media (min-width: 1200px) {
    .hideCard {
        display: none !important;
    }
}

@media(max-width: 1200px) {
    .mega-extra-paging {
        padding-bottom: 50px;
    }
}

sup.required {
    color: $red;
}

.top-block center {
    background: #f7f7fb;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #202026;
    padding: 4px 0;
}
@media (max-width: 500px) {
    .top-block center {
        padding: 5px 15px;
    }
}