@import 'colors';

.new-items {
	display: flex;
	justify-content: center;
	padding-top: 112px;
	background: $mainBgColor;

	&__wrap {
		width: 1170px;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 43px;
		color: $colorDark;
		margin-bottom: 32px;
	}
}

.new-items-slider {

	position: relative;
	margin: -15px;

	&__item {
		background: #FFFFFF;
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		width: 270px;
		display: flex;
		flex-direction: column;

		&:hover {
			box-shadow: 0px 4px 17px rgba(157, 83, 28, 0.13);
		}
		&:hover .new-items-slider__info .new-items-slider__price .new-items-slider__price-svg .new-items-slider__price-svg-rect {
			fill: $color3;
		}
		&:hover .new-items-slider__info .new-items-slider__price .new-items-slider__price-svg .new-items-slider__price-svg-path {
			fill: #fff;
		}
	}
	&__for-img {
		padding: 16px 35px 0px 35px;
		position: relative;
	}
	&__img {
		width: 200px;
		height: 200px;
	}
	&__color {
		position: absolute;
		width: 14px;
		height: 14px;
		right: 24px;
	}	
	&__color-1 {
		top: 24px;
		background: $colorDark;
	}
	&__color-2 {
		top: 46px;
		background: $color3;
	}
	&__button {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
		background: #EB5757;
		border-radius: 4px;
		padding: 5px 19px 5px 20px;
		position: absolute;
		bottom: 0;
		left: 24px;
		cursor: pointer;
	}
	&__info {
		margin-top: 16px;
		margin-left: 24px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	&__code {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $color2;
	}
	&__description {
		padding-top: 4px;
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $colorDark;
		padding-right: 39px;
		overflow: hidden;
		max-height: 75px;
	}
	&__rating {
		display: flex;
		margin-top: 8px;
	}
	&__rating-svg {
		width: 16px;
		height: 16px;
		margin-right: 2px;
		background-size: 16px 16px !important;
	}
	&__rating-reviews {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $color2;
		margin-left: 12px;
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 24px;
		padding-bottom: 30px;

		&-text {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 24px;
			color: $color3;
		}
		&-svg {

			&-rect {
				stroke: $color3;
				fill: #fff;
			}
			&-path {
				fill: $color3;
			}
		}
	}
}

.new-items-slider .slick-slide {
	padding: 15px;
}
.new-items-slider .slick-arrow {
	font-size: 0;
	position: absolute;
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.06);
	border-radius: 50%;
	padding: 9px 10px 9px 9px;
	top: -72px;
	z-index: 10;
	cursor: pointer;

	&:hover {
		background: $color3;
	}
}
.new-items-slider .slick-prev {
	background-size: cover;
	background-repeat: no-repeat;
	right: 52px;

	&:after {
		position: absolute;
		content: '';
		width: 7px;
		height: 12px;
		background: url('../img/left-arrow.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		transform: translate(-50%, -50%);
	}
}
.new-items-slider .slick-next {
	transform: rotate(180deg);
	background-size: cover;
	background-repeat: no-repeat;
	right: 0;
	&:after {
		position: absolute;
		content: '';
		width: 7px;
		height: 12px;
		background: url('../img/left-arrow.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		transform: translate(-50%, -50%);
	}
}

.new-items-more {
	background: #FFFFFF;
	border: 1px solid $color3;
	border-radius: 6px;
	display: none;
	justify-content: center;
	align-items: center;
	padding: 17px 0;
	margin-top: 32px;

	&__svg {
		width: 16px;
		height: 16px;
		stroke: $color3;
		margin-right: 8px;
	}
	&__text {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000;
	}
}

@media (max-width: 1170px) {
	.new-items {
		padding-top: 100px;

		&__wrap {
			padding: 0 15px;
		}
		&-slider {
			margin: 0;

			&__item {
				width: 100%;
			}
			&__for-img {
				display: flex;
				justify-content: center;
			}
			&__for-item {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.new-items-more {
		display: flex;
	}
}