@import 'colors';

.types {
	display: flex;
	justify-content: center;
	padding-top: 56px;
	background: $mainBgColor;

	&__wrap {
		width: 1170px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& .container:nth-child(4),
		& .container-big:nth-child(5),
		& .container:nth-child(6) {
			margin-top: 30px;
		}
	}
	
	& .container-big {
		display: flex;
		justify-content: space-between;
		width: 570px;
		background: #fff;
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 4px 17px rgba(157, 83, 28, 0.13);
		}
		&:hover .container-big__left .container-big__arrow {
			fill: $color3;
		}

		&__left {
			margin-top: 32px;
			margin-left: 32px;
			width: 50%;
			overflow-wrap: break-word;
		}

		&__brand-img {
			margin-bottom: 24px;
		}

		&__brand-title {
			margin-bottom: 4px;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: $colorDark;
		}

		&__brand-text {
			margin-bottom: 50px;
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: $color2;
		}

		&__arrow {
    	margin-bottom: 32px;
    	fill: $color4;
		}

		&__right {
			margin-top: 40px;
			margin-right: 58px;
			margin-bottom: 40px;
		}
	}
	& .container {
		width: 270px;
		background: #FFFFFF;
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 4px 17px rgba(157, 83, 28, 0.13);
		}
		&:hover .container__bottom .container__right .container__arrow {
			fill: $color3;
		}
		
		&__brand-img {
			margin-left: 32px;
		}
		&__for-img {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
		&__bottom {
			display: flex;
			justify-content: space-between;
		}
		&__left {
			margin-top: 24px;
			margin-bottom: 32px;
			margin-left: 32px;
			width: 50%;
			overflow-wrap: break-word;
		}
		&__right {
			margin-top: 38px;
			margin-right: 24px;
		}
		&__brand-title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: $colorDark;
		}
		&__brand-text {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: $color2;
		}
		&__arrow {
			margin-bottom: 32px;
    	fill: $color4;
		}
	}
}

@media (max-width: 1170px){

.types {
	padding-top: 0px;

	&__wrap {
		justify-content: center;

		& .container:nth-child(4),
		& .container-big:nth-child(5),
		& .container:nth-child(6) {
			margin-top: 24px;
		}
	}
	
	& .container-big {
		width: 92%;
		margin-top: 24px;

		&__left {
			margin-top: 24px;
			margin-left: 24px;
		}
		&__right {
			margin-top: 43px;
			margin-right: 36px;
			margin-bottom: 59px;
			width: 106px;
			height: 106px;
		}
		&__img {
			width: 106px;
			height: 106px;
		}
		&__brand {
			&-img {
				width: 24px;
				height: 24px;
				margin-bottom: 25px;
			}
			&-text {
				margin-bottom: 24px;
			}
		}
		&__arrow {
			margin-bottom: 24px;
		}
	}

	& .container {
		width: 92%;
		margin-top: 24px;
		display: flex;
		position: relative;
		justify-content: space-between;

		&__for-img {
			order: 2;
			margin-top: 44px;
			margin-right: 21px;
			margin-bottom: 44px;
			width: 40%;
		}
		&__brand-img {
			order: 0;
			position: absolute;
			margin-left: 0;
			top: 23px;
			left: 24px;
			width: 20px;
			height: 24px;
		}
		&__bottom {
			order: 1;
   			width: 60%;
		}
		&__left {
			margin-top: 73px;
			margin-left: 24px;
			margin-bottom: 86px;
			width: 100%;
		}
		&__right {
			position: absolute;
			margin-top: 0;
			margin-right: 0;
			bottom: 24px;
			left: 24px;
		}
		&__arrow {
			margin-bottom: 0;
		}
	}
}

}